@media (max-width: 900px) {
    .footer {

        &__info {
            width: 400px;
            height: 240px;
            padding: 45px 54px 55px 54px;
        }

        &__addr {
            font-size: 18px;
            line-height: 18px;
        }

        &__phone {
            font-size: 18px;
            line-height: 18px;
        }

        &__social-item {
            width: 45px;
            height: 45px;
            img {
                height: 25px;
            }
        }
    }
}

@media (max-width: 830px) {
    .footer {
       
        &__info {
            width: 300px;
            height: 210px;
            padding: 40px 35px 50px 35px;
        }

        &__addr {
            font-size: 14px;
            line-height: 14px;
            font-weight: 400;
            margin-bottom: 25px;
        }

        &__phone {
            font-size: 14px;
            line-height: 14px;
            font-weight: 500;
        }

        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 23px;
            }
        }
    }
}

@media (max-width: 600px) {
    .footer {
       
        &__info {
            width: 200px;
            height: 170px;
            padding: 35px 15px 45px 15px;
        }

        &__addr {
            font-size: 10px;
            line-height: 10px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        &__phone {
            font-size: 10px;
            line-height: 10px;
            font-weight: 400;
            margin-bottom: 32px;
        }

        &__social-item {
            width: 35px;
            height: 35px;
            margin: 0 10px;
            img {
                height: 20px;
            }
        }
    }
}

@media (max-width: 450px) {
    .footer {
       
        &__info {
            width: 130px;
            height: 140px;
            padding: 25px 5px 35px 5px;
        }

        &__addr {
            font-size: 8px;
            line-height: 8px;
            font-weight: 300;
            margin-bottom: 15px;
        }

        &__phone {
            font-size: 8px;
            line-height: 8px;
            font-weight: 400;
            margin-bottom: 22px;
        }

        &__social-item {
            width: 25px;
            height: 25px;
            margin: 0 5px;
            img {
                height: 12px;
            }
        }
    }
}

