@media (max-width: 530px) {
    .feed-form {
        width: 250px;
        margin-left: 5px;
    }
}

@media (max-width: 430px) {
    .feed-form {
        margin-top: 28px;
        width: 200px;
        input {
            height: 40px;
            font-size: 11px;
        }
    }
}

@media (max-width: 350px) {
    .feed-form {
        input {
            height: 35px;
            font-size: 10px;
        }
    }
}