@media (max-width: 768px) {
    .pageup {
        right: 35px;
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 576px) {
    .pageup {
        right: 25px;
    }
}

@media (max-width: 456px) {
    .pageup {
        bottom: 30px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 400px) {
    .pageup {
        bottom: 25px;
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 366px) {
    .pageup {
        right: 15px;
    }
}